@import "tailwindcss";

* {
  font-family: "Space Grotesk", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

:root {
  --primary: #136dec;
  --background-light: #f6f7f8;
  --background-dark: #101822;
}

.bg-primary {
  background-color: var(--primary);
}
.text-primary {
  color: var(--primary);
}
.bg-background-light {
  background-color: var(--background-light);
}
.bg-background-dark {
  background-color: var(--background-dark);
}
